/* You can add global styles to this file, and also import other style files */
// @use '@symplr-ux/alloy-theme/dist/scss' as symplr;
// @import '@symplr-ux/alloy-icons/dist/icons.css';
@import './google-fonts.scss';

h1 {
  font-family: 'LatoThin';
}

p {
  font-family: 'LatoRegular';
}

div {
  font-family: 'LatoLight';
}

span {
  font-family: 'LatoThin';
}

pre {
  font-family: 'LatoBlack';
}
